
:root {
  /* Colors: */
  --forest-green: #466E62;
  --light-gray: #D9DADB;
  --ffffff: #FFFFFF;
  --dark-gray: #3C3E3E;
  --e56529: #E56529;
  --steel-blue: #425D93;
  --light-blue: #BAD9F0;

  /* Font/text values */
  --fira-sans: 'Fira Sans Condensed', sans-serif;
  --noto-sans: 'Noto Sans', sans-serif;
}

body {
  color: var(--dark-gray);
  font-family: var(--fira-sans);
  padding: 0;
  margin: 0;
}

.powered-by-nvisia {
  width: 189px;
  height: 33px;
  /* UI Properties */
  background: transparent url('assets/powered-by-nvisia.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.item {
  height: auto;
  width: 33%; /* A fixed width as the default */
}

.item-center {
  flex-grow: 1; /* Set the middle element to grow and stretch */
}

.item + .item {
  margin-left: 2%;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}
a:hover,
a:focus {
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {
  .container {
    flex-direction:column;
  }
}

@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 11%;
    margin-right: 19%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .statbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }

}
