
.pie-chart {
  margin: 0.334em auto;
  padding: 0.334em;
  text-align: center;
  font-family: var(--fira-sans);
  font-size: 1em;
  border: 1px solid var(--light-gray);
  background: var(--steel-blue);
  color: #FFFFFF;
  border-radius: 9px;
  min-height: 300px;
}
