<ng-container *ngIf="eventItem ">
  <h1 class="content-subhead" *ngIf="subHead">{{subHead}}</h1>
  <section class="post">
    <header class="post-header">
      <div style="float: left; margin: auto auto; padding: 3em;">
        <app-post-image [eventItem]="eventItem"></app-post-image>
      </div>
      <h2 class="post-title"> {{eventItem.message}}</h2>
      <app-post-meta [eventItem]="eventItem"></app-post-meta>
    </header>
    <div class="post-description">
      <app-post-heading [eventItem]="eventItem"></app-post-heading>
      <app-post-body [eventItem]="eventItem"></app-post-body>
    </div>
  </section>
</ng-container>

