<app-header></app-header>
<div id="layout" class="container">
  <div class="item-center">
      <app-event-feed>
      </app-event-feed>
  </div>
  <div class="item">

    <div style="padding: 1em;">
      <app-event-counter></app-event-counter>
      <hr/>
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
</div>
