<div class="heading-container">
  <div style="width: 80%; display: inline-block">
  <h1 class="brand-title">Tech Showcase</h1>
  <h2 class="brand-tagline">Event Driven Science Fair</h2>
  </div>
  <div style="float: right; margin: 2em 0;">
  <img src="assets/powered-by-nvisia.svg"/>
  </div>
</div>
