
:host {
  margin:0;
}
.brand-title {
  text-transform: uppercase;
  text-align: left;
  font-family: var(--fira-sans);
  font-size: 52px;
  margin: 0;
}

.brand-tagline {
  text-align: left;
  font-family: var(--fira-sans);
  margin: 0;
}

.heading-container {
  padding: 0.667em 2em;
  border-bottom: 1px solid var(--dark-gray);
}
