
.event-counter {
  margin: 0.334em auto;
  padding: 0.334em;
  text-align: center;
  font-family: var(--fira-sans);
  font-size: 2em;
  border: 1px solid var(--light-gray);
  background: var(--forest-green);
  color: #FFFFFF;
  border-radius: 9px;
}
